{% extends 'base.html' %}
{% load bulletinboard_filter %}
{% block content %}

<!-- ㅇ -->

<div class="container my-3">
    <!-- 검색기능 -->
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>

    <!-- 테이블 시작 -->
    <table class="table">
        <!-- 테이블 헤드 -->
        <thead>
        <tr class="thead-dark" align = "center">
            <th>번호</th>
            <th style="width:90%">제목</th>

        </tr>
        </thead>
        <tbody>

        {% if container_list %}
        {% for container in container_list %}
        <tr class="text-center">

            <td style = "text-align: center;vertical-align : middle;">
                {{ container_list.paginator.count|sub:container_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            
            <td class="text-left">
                <a href="{% url 'task:container_detail' container.wrapper.id %}">{{ container.name }}</a>
                {% if container.wrapper.reply_set.count > 0 %}
                <span class="text-danger small ml-2">{{ container.wrapper.reply_set.count }}</span>
                {% endif %}
                <br>
                <small>{{ container.author.name }} | {{ container.formatted_date }}</small>
            </td>
        </tr>


        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">견적서가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if container_list.has_previous %}
        <li class="page-item">
            <!-- a -->
            <a class="page-link" data-page="{{ container_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in container_list.paginator.page_range %}
        {% if page_number >= container_list.number|add:-5 and page_number <= container_list.number|add:5 %}
            {% if page_number == container_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if container_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ container_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'task:container_create' %}" class="btn btn-warning">멀티견적서</a>


</div>

<!-- search -->
<form id="searchForm" method="get" action="{% url 'task:container_index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}

