{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 사용자오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- estimator 제목 표시 -->
    <h2>{{ estimator.name }}</h2>

    <div class = "border-bottom py-2">
        <h6 style="font-size:15px;display: inline-block;">{{ estimator.author }}</h6>
        {% if estimator.modify_date %}
        <h6 style="font-size:12px;display: inline-block;">{{ estimator.modify_date }} (수정됨)</h6>
        {% else %}
        <h6 style="font-size:12px;display: inline-block;">{{ estimator.create_date }}</h6>
        {% endif %}
    </div>


    <div class="card my-3">

        <div class="card-body">
            {% for key, value in estimator.kwargs.items %}
            <div class="card-text" style="white-space: pre-line;">{{ key|safe }} : {{ value|safe }}</div>
            {% endfor %}
            {% for key, value in estimator.additional_kwargs.items %}
            <div class="card-text" style="white-space: pre-line;">{{ key|safe }} : {{ value|safe }}</div>
            {% endfor %}
            {% for key, value in estimator.prices.items %}
            <div class="card-text" style="white-space: pre-line;">{{ key|safe }} : {{ value|safe }}</div>
            {% endfor %}
            {% if request.user == estimator.author %}
            <div class="my-3">
                <!-- 수정 및 삭제 버튼  -->
                <a href="{% url 'task:estimator_modify' estimator.id  %}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'task:estimator_delete' estimator.id  %}">삭제</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div>
        <a href = "{% url 'task:estimator_download' estimator.id %}"  > 엑셀로 내려받기 </a>
    </div>
    <!-- 답변 시작. 여기를 댓글로 바꾸고, 좀 보기 좋게  -->
    <h5 style="font-size:15px;" class="border-bottom my-3 py-2">{{estimator.wrapper.reply_set.count}}개의 답변이 있습니다.</h5>
    <!-- base_views.detail에서 question으로 넘어온 question의 모든 answer에 대해 -->
    {% for reply in estimator.wrapper.reply_set.all %}
    <!-- 앵커 태그. 이름은 유일해야 하므로, id를 사용  -->
    <a name="reply_{{ reply.id }}"></a>


    <!-- 답변 내용  -->
    <div style="margin-top: 8px"></div>
    <div>
        <h6 style="font-size:15px;display: inline-block;">{{ reply.author }}</h6>
        {% if reply.modify_date %}
        <h6 style="font-size:12px;display: inline-block;">{{ reply.modify_date }} (수정됨)</h6>
        {% else %}
        <h6 style="font-size:12px;display: inline-block;">{{ reply.create_date }}</h6>
        {% endif %}
    </div>

    <div class="card-text" style="white-space: pre-line;font-size:15px;">{{ reply.content }}</div>

    <!-- 답변 작성자와 viewer가 같다면  -->
    {% if request.user == reply.author %}
    <div class="my-3">
        <!-- 수정 및 삭제 버튼  -->
        <a href="{% url 'task:reply_modify' reply.id  %}"
           class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class="delete btn btn-sm btn-outline-secondary "
       data-uri="{% url 'task:reply_delete' reply.id  %}">삭제</a>
    </div>
    {% endif %}
    <!-- 대댓글 기능  -->
    {% if reply.comment_set.count > 0 %}
    <div class="mt-3">
    {% for comment in reply.comment_set.all %}
        <div class="comment py-2 text-muted" style = "margin-left: 50px">
            <span style="white-space: pre-line;font-size:13px;">{{ comment.content }}</span>
            <span style = "font-size:13px;">
                - {{ comment.author }}, {{ comment.create_date }}
                {% if comment.modify_date %}
                (수정:{{ comment.modify_date }})
                {% endif %}
            </span>
            {% if request.user == comment.author %}
            <a style = "font-size:13px;" href="{% url 'task:comment_modify' comment.id  %}" class="small">수정</a>,
            <a style = "font-size:13px;" href="#" class="small delete"
               data-uri="{% url 'task:comment_delete' comment.id  %}">삭제</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <div class="border-bottom py-2">
        <a style = "font-size:13px;"  href="{% url 'task:comment_create' reply.id  %}"
           class="small">댓글 추가 ..</a>
    </div>


    {% endfor %}
    <form action="{% url 'task:reply_create' estimator.wrapper.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
    </form>



</div>
{% endblock %}

