{% extends "base.html" %}
{% block content %}


<div class="container" id = "container">
    <h5 class="my-3 border-bottom pb-2" id = "wrapper"> 종합 견적서 작성하기 </h5>
    <div class="card my-3">
        <div class="d-flex justify-content-end" style = "margin-right:20px;">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">내용 텟트</div>
            </div>        
            <div class="my-3">
                <a href="#" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="#">삭제</a>
            </div>
        </div>
    </div>



    <form method="post" class="post-form my-3" id = "form123">
        {{form.media}}
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}


        <button type="button" id = "add-button" class="btn btn-info" style ="margin-bottom:10px;">추가 항목 작성 &nbsp;<span style="font-size:16px; font-weight:bold;">+ </span></button>
        <br>


        <button  id = "submit-estimator" class="btn btn-primary"> 저장하기 </button>

        <!-- modal 구동 버튼 (trigger) -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
  개별 품목 견적서 작성하기
</button>


<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal 제목</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">Modal 내용
                <form method="post" class="post-form my-3" id = "tttttt">
                    {{form.media}}
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-group" id = "type_div">
                        <label for="type">type</label>
                        <select class="form-control" name="type" id="type" aria-label=".form-select-lg example" required>
                            <option id = "default_option" value= "default" disabled selected hidden>type select</option>
                            {% for type in types%}
                            <option value= {{type.type}}>{{type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </form>
            </div>


            <div class="modal-footer">
                <button id = "submit-modal" type='button' class="btn btn-primary">제출하기</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>

// global variable
var container = $('#form123');
var estimator_count = 0;
var edit = false; // 수정할 estimator를 알려주는 역할
var parsed_forms = {};
var type = document.getElementById('type');//$('#type');
var type_div = $('#type_div');

$(document).ready(function(){

    type.addEventListener('change', function() {
        let val = type.value;
        let param = {'type' : val,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'}

        $.ajax({
            url : "{% url 'task:estimator_add' %}",
            type : 'POST',
            datatype: 'json',
            data : param,

            success: function(data){

                // type의 부모 노드의 자식노드 (이전에 선택한 견적서 타입에 따라 추가한 form-group들)을 지움

                //var type = $('#type_div');
                var children = type_div.parent().children('.form-group').not('#type_div').remove();


                // 받아온 데이터의 kwargs를 추가

                for (var i in data['kwargs']){
                    if (i != 'name'){
                        let kwarg = data['kwargs'][i];
                        var structure = '';

                        structure = structure + '<div class="form-group">' ;
                        structure = structure + '<label for="' + kwarg.text + '">' + kwarg.text + '</label>';
                        structure = structure + '<input id = "' + i  + '" type="' + kwarg.type + '" class="form-control" name="' + kwarg.text + '"rows="10" value="' + kwarg.value + '" min="' + kwarg.min + '" max="' + kwarg.max + '">';
                        structure = structure + '</div>'

                        structure = $(structure);

                        $(type_div).after(structure);
                        };

                    }
                },
            error : function(){
                console.log('error');
                }
            });
        });
    });


$(document).ready(function(){
    var modal_btn = document.getElementById('submit-modal');  //$('#submit-modal');

    modal_btn.addEventListener('click', function() {

        // save modal form
        estimator_count ++; // 임시 식별자

        var structure = '';

        structure = structure + '<div class="card my-3" id = "div'+ estimator_count + '">';
        structure = structure + '<div class="d-flex justify-content-end" style = "margin-right:20px;">'
        structure = structure + '<div class="card-body">';
        structure = structure + '<div class="card-text" style="white-space: pre-line;">' + estimator_count +  '</div>';
        structure = structure + '</div>'
        structure = structure + '<div class="my-3">'
        structure = structure + '<a id = "delete' + estimator_count + '" href="#" class="btn btn-sm btn-outline-secondary modify" style = "margin-right:5px;" type="button" data-toggle="modal" data-target="#modal">수정</a>'
        structure = structure + '<a href="#" class="delete btn btn-sm btn-outline-secondary delete" data-uri="#">삭제</a>'
        structure = structure + '<form id="' + estimator_count + '" method="POST">'
        // 값의 임시 저장을 위한 hidden form
        $(modal_btn).parents(".modal-content").find("input[name!='csrfmiddlewaretoken']").each(function(){
            structure = structure +  '<input hidden id="' + $(this).prop('id') + '" class = "' + $(this).prop('class') +'" value="' + $(this).val() + '" min = "' + $(this).prop('min') + '" max = "'+ $(this).prop('max') + '" name ="'+ $(this).prop('name') + '" type = "' + $(this).prop('type') + '">'
            });
        structure = structure + '<div hidden>' + $(modal_btn).parents(".modal-content").find('#type').val() +'</div>'
        structure = structure + '</form>'
        structure = structure + '</div></div></div>'
    
        structure = $(structure);
        
        // 수정 or 신규작성
        if (edit == false){
            $(container).before(structure); // 신규작성
        } else {
            $('#div' + edit).replaceWith(structure); // 대체
        }
        
        // register eventlistner for modify / delete button

        var delete_btn = structure.find('a.delete')[0]; 
        var modify_btn = structure.find('a.modify')[0];

        delete_btn.addEventListener('click', function(){
            $(this).parents().eq(2).remove(); // 위로 2번째 element 삭제
            });

        modify_btn.addEventListener('click', function(){
            // load hidden form value
            var values = $(modify_btn).parent('div').find('input');
            // modal form init
            $(type).parent().children('.form-group').not('#type_div').remove();
            $(type).val($(modify_btn).parent('div').find('div').text());

            // id of element now edited
            edit = $(modify_btn).parent('div').children('form').prop('id');
            
            // add form-group
            for (var i = 0; i < values.length; i ++ ){
                var structure = '';
                var value = values[i]
                var name = $(values[i]).prop('name')
                structure = structure + '<div class="form-group">' ;
                structure = structure + '<label for="' + name + '">' + name + '</label>';
                structure = structure + value.outerHTML.replace('hidden', '');
                structure = structure + '</div>';
                structure = $(structure)
                type_div.after(structure);
                }
            });


        // 창 닫기
        $('#modal').modal('hide');

        });
    });


$(document).ready(function(){           
    $('#modal').on('hide.bs.modal', function () {
        edit = false;
        type_div.parent().children('.form-group').not('#type_div').remove();
        $(type).val('default');
        }); 
    });


$(document).ready(function(){
    $('#submit-estimator').on('click', function(){
        // 문서내에 존재하는 숫자 아이디를 가진 폼을 전부 반환
        var all_forms = $(document).find('form').not('.post-form');
        
        for (var i = 0; i < all_forms.length; i++){
            parsed_forms[i] =  parse_forms(all_forms[i])
            }    

        var param = {'data' : JSON.stringify(parsed_forms), 'csrfmiddlewaretoken' : '{{csrf_token}}'}

        $.ajax({
            url : "{% url 'task:estimator_create' %}",
            type : 'POST',
            datatype: 'json',
            data : param,
        
            success: function(data){
                console.log('성공^');
                },
            error : function(){
                console.log('error');
                }
            });
        });
    });


// form to dictionary 
function parse_forms(form) {
    var dict = {};
    var children = $(form).children('input');
    console.log(children);
    for (var i = 0; i < children.length; i ++){
        dict[ $(children[i]).prop('id') ] = $(children[i]).val();
        };

    dict['type'] = $(form).children('div').text();
    console.log(dict);
    return dict

    }   


</script>
{% endblock %}


