{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated%}

    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert" style ="width:80%;margin: 0 auto;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

<div class="container my-3">
    <h5 class="border-bottom pb-2">랜딩페이지</h5>
    <div class="container">
        {% for name, code in color_dict.items %}
        <label id = "label_{{code}}"   value="{{ code }}" for= "badge_{{code}}"  class="btn btn-primary"> {{name}} <input type="checkbox" id="badge_{{code}}" class="badgebox" value="{{ code }}" checked><span class="badge">&check;</span></label>
        {% endfor %}

    </div>

    <div id='calendar'></div>
    <!-- modal 추가 -->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">일정을 입력하세요.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="calendar_content" class="col-form-label">일정 내용</label>
                        <input type="text" class="form-control" id="calendar_content" name="calendar_content">
                        <label for="calendar_start_date" class="col-form-label">시작 날짜</label>
                        <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
                        <label for="calendar_end_date" class="col-form-label">종료 날짜</label>
                        <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="addCalendar">추가</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="sprintSettingModalClose">취소</button>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="col-lg-6">

            <select id="type_filter">
                <option value="all">all</option>
                <option value="#DCDCDC">#DCDCDC</option>
                <option value="#BDE3DD">#BDE3DD</option>
            </select>
        </div>
    </div>



</div>

{% else %}
<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <h4>로그인</h4>
        </div>
        <div class="col-8 text-right">
            <span>또는 <a href="{% url 'common:signup' %}">계정을 만드세요.</a></span>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block script %}

<script>
    window.setTimeout(function() {
    $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 2000);

    var color_dict = JSON.parse("{{ color_dict_json|escapejs }}");

    console.log(color_dict)

    for(var key in color_dict){
        var el = document.getElementById("label_" + color_dict[key]);
        el.style["background-color"] =  color_dict[key];
        el.style["border-color"] =  color_dict[key];

        };



</script>

{% endblock%}