<!DOCTYPE html>
<html>
<head>
    <script src="/static/canvas.js?v=<%=System.currentTimeMillis()%>"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Canvas Painter</title>
    <style type="text/css">
        canvas{border: 1px solid black};
    </style>
</head>
<body>
    <div>
        <canvas id="canvas" width="500" height="500">
 
        </canvas>
    </div>
    <button id = 'save'> SAVE </button>
 
</body>
<script>
$(function(){
    $("#save").click(function() { 

        var data = document.getElementById("canvas").toDataURL();
        
    });
}); // https://hooongs.tistory.com/66

</script>

</html>

